:root {
    --red: #d63127;
    --light: #d4d0cc;
    --grey-light: #80807e;
    --grey-dark: #686868;
    --dark: #1e1e1e;

    --font-size-numpad: 3rem;
    --font-size-numpad-pressed: 2.9rem;
    --font-size-display-big: 5rem;
    --font-size-display-small: 2rem;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    font-family: "Glegoo", serif;
    font-weight: 400;
    font-style: normal;
}

#calculator {
    background-color: var(--dark);
    padding: 25px;
    border-radius: 40px;
    border: 10px solid #b3b3b3;
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
}

#display {
    flex: 1 1 0;
    text-align: end;
    height: 100px;
    font-size: 50px;
    margin: 10px;
    color: white;
}

/* Buttons */

#keypad {
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
}

.keypad-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.keypad-row > div {
    flex: 1;
    border-radius: 8px;
    margin: 2.5px;
    display: flex;
}

.keypad-row > div > button {
    flex: 1;
    margin: 20px;
    border-radius: 100px;
    border: none;
    font-size: var(--font-size-numpad);
}

.keypad-row > div > button:active {
    font-size: var(--font-size-numpad-pressed);
}

/* Buttons - Number */

div.numberdiv > button {
    box-shadow: 7px 7px 7px -1px #c3bfbc,
                -7px -7px 7px 1px #e5e1dc;
}

div.numberdiv > button:active {
    box-shadow: inset 7px 7px 7px -1px #c3bfbc,
                inset -7px -7px 7px 1px #e5e1dc;
}

div.numberdiv, div.numberdiv > button {
    background-color: var(--light);
}

/* Buttons - Operants */

div.operantdiv > button {
    box-shadow: 7px 7px 7px -1px #767674,
                -7px -7px 7px 1px #8a8a88;
}

div.operantdiv > button:active {
    box-shadow: inset 7px 7px 7px -1px #767674,
                inset -7px -7px 7px 1px #8a8a88;
}

div.operantdiv, div.operantdiv > button {
    background-color: var(--grey-light);
    color: white;
}

/* Buttons - Equal */

div.equaldiv > button {
    box-shadow: 7px 7px 7px -1px #c52d24,
                -7px -7px 7px 1px #e7352a;
}

div.equaldiv > button:active {
    box-shadow: inset 7px 7px 7px -1px #c52d24,
                inset -7px -7px 7px 1px #e7352a;
}

div.equaldiv, div.equaldiv > button {
    background-color: var(--red);
    color: white;
}

div.equaldiv {
    flex: 2.5 1 0;
}

/* Buttons - Clear */

div.cleardiv > button {
    box-shadow: 7px 7px 7px -1px #c3bfbc,
                -7px -7px 7px 1px #e5e1dc;
    background-color: var(--red);
    border: 3px solid #d4d0cc;
    color: white;
}

div.cleardiv > button:active {
    box-shadow: inset 7px 7px 7px -1px #c52d24,
                inset -7px -7px 7px 1px #e7352a;
}

div.cleardiv {
    background-color: var(--light);
}
